# gedit backup file
*~

# texlipse
tmp
*.synctex.gz
.project
.texlipse
.metadata

# Figures
raw
*.png
*.odg

# Homework handouts and compiled pdf files
# *.pdf

# Datasets
SomeYaleFaces.mat
showfaces.m
crescents.mat
gen2vec.m
genomedata.mat

# notebook
.ipynb_checkpoints/

project/datasets/
project/figs/gif/
*#
